.app {
}

.app .btn {
  font-size: 1em;
}

.app .accounts {
}

.app .accounts .row {
  padding: 0.75rem;
}

.app .accounts .header {
  cursor: default;
  background-color: #343a40;
  color: white;
}

.app .accounts .row {
  text-align: center;
}

.app .accounts .account {
  cursor: pointer;
  border-top: 1px solid #dee2e6;
  position: relative;
}

.app .accounts .account:hover {
  background-color: #e9ecef;
}

.app .accounts .account .expander.focus,
.app .accounts .account .expander:focus {
  box-shadow: none;
}

@media (max-width: 576px) {
  body {
    font-size: 0.75rem;
  }

  .app .accounts .header > [class*='col-'],
  .app .accounts .account > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .app .accounts .account .expander {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .app .accounts .account .expander:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
}
