.contacts {
  margin-top: 1rem;
  margin-left: 1rem !important;
  background-color: #fafbfb;
  border: 3px solid #dee2e6;
  cursor: default;
  position: relative;
}

.contacts .contacts-guide {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 2rem;
  position: absolute;
  top: 1rem;
  left: -1rem;
  border-width: 3px;
  border-top-color: rgba(0, 0, 0, 0.4);
}

.contacts .contacts-guide-vertical {
  width: 5rem;
  transform: rotate(90deg);
  top: -1.5rem;
  left: -3.5rem;
}

.contacts .contact {
  border-top: 1px solid #dee2e6;
  padding: 0 !important;
}

.contacts .contact > div {
  line-height: 3rem;
}

.contacts .contact > .controls {
  line-height: 2.5rem;
}

.contacts .contact:first-child {
  border-top: 0;
}

@media (max-width: 991px) {
  .contacts .contact > div {
    line-height: 2rem;
  }
}
